manifest {
    homePage = 'https://github.com/iarcbioinfo/RNAseq-nf'
    description = 'align and analyse RNAseq fastq files'
    mainScript = 'RNAseq.nf'
}

profiles {
  conda { 
	process.conda = "$baseDir/environment.yml"
	conda.createTimeout = "200 min"
	}
  docker {
    docker.enabled = true 
    process.container = 'iarcbioinfo/rnaseq-nf:v2.3'
  }
  singularity {
    singularity.enabled = true 
    process.container = 'shub://IARCbioinfo/RNAseq-nf:v2.3'
    pullTimeout = "200 min"
  }
}

process {
	shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-nf_dag.html"
}
